[Unit]
Description=SmartHome WiFi Fallback Manager (Open AP)
After=network.target NetworkManager.service
Wants=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/smarthome/smart-home-sns-automatyk/scripts
ExecStart=/home/smarthome/smart-home-sns-automatyk/scripts/venv/smarthome_env/bin/python /home/smarthome/smart-home-sns-automatyk/scripts/src/wifi_manager.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target